/* down-pointing emoji to remind user of scrolling */
.arrow {
	opacity: 0;
	font-size: 48px;
	/* display: block; */
	-webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
	transition: opacity 1s ease-in;
	position: absolute;
	bottom: 25px;
	width: 98vw;
	text-align: center;
	animation-name: scroll-down;
	animation-timing-function: ease-in-out;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
}

.arrow::before {
	content: "👇";
}

@keyframes scroll-down {
		0%   { transform: translateY(0); }
		50%  { transform: translateY(10px); }
		100% { transform: translateY(0); }
}